html {
  height: 100%;
}

body {
  background-color: purple;
  min-height: 100%;
  margin: 0;
  padding: 20px;
}

section {
  margin-bottom: 150px;
}

#pageTitle {
  font-family: 'Faster One', cursive;
  font-size: 48pt;
  color: pink;
  text-align: center;
}

.mainImage {
  position: absolute;
  top: 50px;
  right: 0;
}

.listHeader {
  font-family: 'Berkshire Swash', cursive;
  color: white;
}

ul {
  font-family: 'Indie Flower', cursive;
  color: yellow;
}

h3 {

}

p {

}

a {

}

nav {color: pink;
}
